.examination{
	width: 980px;
	margin:0px auto;
}
.document-title{
	border-bottom: 1px solid #ececec;
	text-align: center;
}
.document-title h1{
	font-size: 18px;
	font-weight: bold;
	color: #333;
}
.examination-questions h2,.question-answer h2{
	font-size: 14px;
	font-weight: bold;
	color: #333;
}