.w980{ width: 980px; margin: 10px auto;}
.document{
	margin-top: 30px;
	margin-bottom: 50px;
}
.document ul li{
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid #ebebeb;
	cursor: pointer;
	clear: both;
}
.document ul li a{
	color: #333;
}
.document ul li a:hover{
	color: #08c;
}
.even-gray{
	background-color: #fcfcfc;
}
.edit-bt{
	display: inline-block;
	float: right;
}