.lhz_tb {
	border-collapse: collapse;
	border-spacing: 0;
}
.lhz_tb td {
	border: 1px #ddd solid;
	padding: 3px 5px;
}
.lhz_tb thead {
	text-align: center;
	font-weight: bold;
}
.lhz_tb  tbody td input {
	width: 100%;
	padding: 3px 0;
}
.ui-hit {
	position: absolute;
	top: 0px;
	left: 50%;
	background: #68af02;
	z-index: 99;
	white-space: nowrap;
	padding: 3px 20px 3px;
	color: #fff;
	height: 20px;
	line-height: 18px;
	border-radius: 3px;
	font-size: 1em;
}
/*百分比显示*/
.percent-box {
	display: block;
	border: 1px solid #CCCCCC;
	font-size: 1px;
	text-align: left;
	overflow: hidden;
	width: 120px;
	height: 12px;
}
.percent-inner {
	background: #F7DF8C;
	font-size: 1px;
	height: 12px;
	text-align: left;
	overflow: hidden;
}