.examination{
	width: 980px;
	margin:0px auto;
}
.document-title{
	width: 980px;
	text-align: center;
	margin-top:30px;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ececec;
}
.document-title h1{
	font-size: 16px;
	font-weight: bold;
}
.examination-questions,.question-answer{
	margin-bottom: 30px;
}
.examination-questions h2,.question-answer h2{
	font-size: 14px;
	font-weight: bold;
	line-height: 40px;
}
